

*{
    padding: 0;
    margin: 0;
}
body{
    
    background-color: #F0F5F3;
    color: #32433C;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23dbe6e1' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    }
    button{
    width: 48px;
    height: 48px;
    background-color: white;
    outline: none;
    border: none;
    margin:0 8px;
    border-radius: 999px;
}

div {
    font-size: 48px;
    font-weight: 900;

    
}

.color {
    animation-name: color;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-direction: alternate;
}

div > span {
    position: relative;
    display: inline-block;
}

.color{}
@keyframes color {
    50%{
        color: rgb(243, 103, 231);
        transform: scale(2);
    }
    to {
        color: turquoise;
        transform: scale(.5);
    }
}

.colorBtn-white {
    border: 3px solid white;
    background-color: grey;
}

.colorBtn-yellow {
    border: 3px solid white;
    background-color: yellow;
}

#ball{
    position: absolute;
    width: 10px;
    height: 10px;
    border:2px black solid;
    border-radius: 999px;
    box-sizing: border-box;
    transition: 0.1s;
    pointer-events: none;
    z-index: 999;
    mix-blend-mode: multiply;
    background-blend-mode: multiply;
  }
img{   
  -webkit-filter:invert(100%) grayscale(100%);
    filter:invert(100%) grayscale(100%);
}

img:hover ~ #ball{
    position: absolute;
    width: 100px;
    height: 100px;
    border:2px black solid;
    background-color: black;
    border-radius: 999px;
    box-sizing: border-box;
    transition: 0.1s;
    pointer-events: none;
    z-index: 999;
    mix-blend-mode:difference;
    background-blend-mode:difference;
    filter:invert(100%) grayscale(0%);

}